---
layout: default
---
<h1 class="ui header top">Répertoire des usecases <strong>CaritatHelp</strong></h1>
<div id="index-grid" class="ui three column doubling stackable grid">
  {% for links in site.pages %}
    {% if links.layout == 'usecase' %}
      <section class="{{links.ref}} column">
        <h3 class="ui header">
          <i class="{{links.icon}} icon"></i> {{links.title}}
        </h3>
        {% for post in site.categories.[{{links.ref}}] %}
          <div class="ui styled accordion">
            <a class="post-link" href="{{site.baseurl | append : links.ref}}#{{links.ref}}-{{post.nb}}">
              <div class="title">{{ post.title }}</div>
            </a>
          </div>
        {% endfor %}
      </section>
    {% endif %}
  {% endfor %}
</div>
